h1{color:black;}

h1{text-align: center; }

#kiss {width: 30%;}
#kiss {margin-left: 36%;}
#kiss {border:solid red ;}

body {background-color: yellow; }

#kiss2 {width: 30%;}
#kiss2 {margin-left: 36%;}
#kiss2 {border:solid red ;}
