h1{color: brown;}
h1{text-align: center; }
#kiss {width: 40%;}
#kiss {margin-left: 30%;}
#kiss {border:solid  brown ;}
body {background-color: darkgray; }
#kiss2 {width: 40%;}
#kiss2 {margin-left: 30%;}
#kiss2 {border:solid  yellow ;}