h1{color:white;}

h1{text-align: center; }

    h2{color:white; }

#kiss {width: 30%;}
#kiss {margin-left: 36%;}
#kiss {border:solid white ;}

body {background-color:black ; }

#kiss2 {width: 30%;}
#kiss2 {margin-left: 36%;}
#kiss2 {border:solid white ;}
